[nginx]
name=nginx repo
baseurl=http://nginx.org/packages/{% if ansible_distribution == "RedHat" %}rhel{% else %}centos{% endif %}/{{ansible_distribution_version.split('.')[0]}}/$basearch/
gpgcheck=1
enabled=1
